
body {
    padding-top: 60px;
}
*:focus {
    outline: none;
}
a {
    cursor: pointer;
}
.panel-heading a {
    font-size: 12px;
}

.well small {
    color: #999;
}

.well .contacts span {
    margin: 0 2px;
}

.well .text-warning {
    color: gray;
    padding: 1em;
}

#footer {
    padding: 2em;
    color: #fff;
    font-size: .8em;
    text-align: center;
    text-shadow: 1px 1px 0px #222;
}

.issue-list .col-md-6 {
    padding: 1px
}

.panel-heading .pull-right {
    cursor: pointer;
}

.panel-body blockquote {
    font-size: .8em;
}
.panel-body blockquote small {
    color: gray;
}
.panel-body.bgff {
    background-color: #3b3f51;
}

.pos-abs {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.index_dialog{
    display: none;
    position: fixed;
    top: 4em;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    z-index: 10000;
}
.r {
    line-height: 38px;
    height: 34px;
    color: #D50101;
    font-size: 1.8em;
    font-weight: bolder;
    display: inline-block;
}
/*
body {
    background-color: #EEE;
    font: 1.5em/1.5em"微软雅黑";
}
* {
    font-family:"微软雅黑";
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bhf-nav {
    color: white;
}
.bhf-nav ul {
    margin-left: 5em;
    line-height: 50px;
    font-size: 1.1em;
}
.bhf-nav ul li {
    margin: 0 1.5em;
}
.bhf-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.bhf-container {
    width: 100%;
    margin-top: 50px;
    padding: 0;
}
.project-wall {
    padding: 0 1.5em 1em 1.5em;
}
.project-sort ul {
}
.project-sort li {
    margin-bottom: 1.5em;
    position: relative;
    text-align: center;
}
.project-sort_name {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    height: 80px;
    line-height: 80px;
}
.project-sort_name hr {
    height: 1px;
    margin-top: -15px;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    border: 0 none;
}
.project-card {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding-bottom: 1em;
    border-radius: 0.7em;
    box-shadow: 0 0 5px #c7c7c7;
    text-align: left;
    cursor: pointer;
}
.project-card:hover {
    color : #333;
    box-shadow: 0 0 20px #c7c7c7;
    position: relative;
    top: -2px;
}
.project-name {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    line-height: 2em;
    overflow: hidden;
    color: white;
    border-radius: 0.3em 0.3em 0 0;
    background-color: #58B0DC;
    margin-bottom: 0.5em;
}
.project-sort li p, .project-progress {
    margin: 0 1em;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.project-more {
    padding: 0.25em 1em;
    margin: 0.2em 0;
    cursor: pointer;
    opacity: 0.5;
    color: black;
    border: 1px solid #eee;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}
.project-more:hover {
    opacity: 1;
    text-decoration: none;
    border: 1px solid #428bca;
}
.project-more:active {
    background-color: #428bca;
    color: white;
}
.bhf-nav .op_btn {
    line-height: 50px;
    cursor: pointer;
    padding: 0 0.5em;
    font-size: 1.5em;
    margin: 0 0.5em;
    color: #dadada;
    font-weight: bolder;
}
.bhf-nav .op_btn:hover {
    color: #fff;
}
.r {
    line-height: 38px;
    height: 34px;
    color: red;
    font-size: 1.2em;
    font-weight: bolder;
    display: inline-block;
}
#addRequestDialog, #addProjectDialog {
    display: none;
    position: fixed;
    top: 4em;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    z-index: 10000;
}
.sort-nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: url(../images/sort-nav-bg.jpg) center repeat-x;
}
.sort-nav a {
    display: inline-block;
    width: 10%;
    font-size: 1.35em;
    text-align: center;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    background: url(../images/sort-nav.jpg) 0 center no-repeat;
}
.sort-nav a:hover {
    opacity: 0.9;
    text-decoration: none;
}
.sort-nav .active {
    width: 80%;
}
#project-list {
    padding: 1.5em 2em;
}
#project-list li {
    border-bottom: 1px dashed #777;
    padding: 1.5em 0 0.5em;
    margin-right: 0.2em;
    display: inline-block;
    width: 48%;
}
#project-list li:hover {
}
#project-list span {
    vertical-align: text-bottom;
    padding: 0 1em;
    font-weight: bolder;
}
#project-list p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#project-list a {
    float: right;
}
.p-info {
    border: 1px solid #555;
    border-radius: 0.5em;
    border-top-color: #bcbcbc;
    border-left-color: #bbb;
    border-right-color: #999;
    padding: 0.5em;
    margin-top: 0.5em;
    box-shadow: 5px 5px 10px #aaa;
}
.issue-box {
    width: 80%;
    display: inline-block;
    margin-top: 2em;
    margin-left: 230px;
}
.issue-box-normal {
    margin: 2em auto 0;
    display: block;
}
.post-box {
    display: none;
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 0;
}
#closepb-btn {
    margin-left: 2em;
}
#issue-name {
    font-weight: bolder;
}
#issue-list {
    margin: 1em 0;
    border-top: 1px solid #ccc;
    padding-top: 2em;
}
.issue-title {
    font-size: 1.25em;
    margin-bottom: 1em;
}
.issue-reply-btn {
    float: right;
}
.issue-floor {
    border-bottom: 1px solid #ddd;
    padding:1em;
}
.issue-floor:hover {
    background-color: white;
}
.issue-floor p {
    line-height: 1.5em;
    color: #777;
}
.issue-tag {
    margin: 0 1em;
    color: red;
}
.issue-floor .issue-content, .comment-content {
    word-break: break-all;
    line-height: 1.5em;
}
.comment-box {
    padding:0 2em;
    height: 0;
    overflow: hidden;
}
.comment-box-show {
    height: auto;
}
.comment-date {
    position: absolute;
    right: 1em;
    top: 0.5em;
}
.commnet-floor {
    position: relative;
    padding: 0.5em 0;
    border-bottom: 1px dashed #ccc;
}
.post-comment-box {
    margin-top: 1em;
}
.post-comment-content {
    width: 80%;
    display: inline-block;
    margin-right: 1em;
}
.post-comment-btn {
    height: 72px;
    width: 100px;
    display: inline-block;
}
.assets-box {
    display: inline-block;
    width: 200px;
    height: auto;
    position: fixed;
    bottom: 0;
    top: 50px;
    background-color: #58B0DC;
    vertical-align: top;
    color: white;
}
.openBtn {
    position: absolute;
    right: -21px;
    width: 30px;
    height: 100px;
    top: 50%;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 0.5em 0.5em 0;
    line-height: 6.5em;
    background-color: #60BBE5;
    color: white;
    cursor: pointer;
}
.assets-box-hide {
    margin-left: -200px;
}
.assets-box h3 {
    text-align: center;
    font-weight: bolder;
}
.asset-item {
    border: 1px dashed white;
    margin: 0.5em;
    padding: 0.5em;
    display: block;
    font-size: 0.8em;
    text-decoration: none;
}
.asset-item:hover {
    text-decoration: none;
    color: white;
}
.img-txt, .img-psd, .img-rar, .img-pic, .img-doc, .img-file {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../images/icons.png) 0 0 no-repeat;
}
.img-doc {
    background-position: 0 -35px;
}
.img-txt {
    background-position: 0 -70px;
}
.img-rar {
    background-position: 0 -105px;
}
.img-psd {
    background-position: 0 -140px;
}
.img-file {
    background-position: 0 -175px;
}
.assset-info {
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.assset-des {
    word-break: break-all;
    line-height: 1em;
}
.asset-list {
    height: 92%;
    overflow: hidden;
}
.projcet-panel{

}

.project-details{
    width: 80%;
    margin-left: 230px;

}
.project-details-normal{
    margin: 0 auto;
}
/*bootstrap override
 .row {
    margin: 0;
}
.col-sm-3 {
    padding: 0;
}
.modal-title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bolder;
    font-family:"微软雅黑";
}
.glyphicon-hand-up:before {
    vertical-align: text-bottom;
}
.glyphicon:before {
    margin-right: 5px;
}
.glyphicon:empty {
    width: auto;
}
.mCSB_container {
    margin-right: 10px;
}
*/
