<div class="row">
    <div class="well">
        <h2>芒果网首页 <small>预计2014年4月1日完成</small></h2>
        <p class="contacts">
            <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                Lian Hsueh
            </span> 
            <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                Ice
            </span> 
            <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                Conis
            </span>
        </p>
        <p class="text-warning">项目描述项目描述：项目描述：项目描述：项目描述：项目描述：项目描述：</p>
        <p>
            <div class="input-group"> 
                <input type="text" class="form-control" value="git@github.com/what/what.git" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Copy</button>
                </span>
            </div>
        </p>
    </div>
</div>
<postissue></postissue>
<issuelist></issuelist>
