<div class="row">
    <div class="well">
        <h2>{{project.title}} <small>预计{{project.end_date}}完成</small></h2>
        <p class="contacts">
            <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                {{project.contact}}
            </span> 
            <!-- <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                Ice
            </span> 
            <span class="label label-success">
                <i class="glyphicon glyphicon-user"></i>
                Conis
            </span> -->
        </p>
        <p class="text-warning">{{project.description}}</p>
        <p>
            <div class="input-group"> 
                <input type="text" class="form-control" value="{{project.repos}}" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Copy</button>
                </span>
            </div>
        </p>
    </div>
</div>
<postissue></postissue>
<issuelist></issuelist>
