<div class="assets-box assets-box-hide">
	<h3>素材库</h3>
	<div class="asset-list">
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-txt"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-pic"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-file"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-doc"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-rar"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-psd"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-psd"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-psd"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-psd"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 23MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	<a href="#" class="asset-item" title="上传时间：datetime" target="_blank">
		<b class="img-psd"></b>
		<p class="assset-info" title="xxxx, 23MB">xxxx, 2223MB</p>
		<p class="assset-des">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</a>
	</div>
	<div class="glyphicon glyphicon-chevron-right openBtn" title="素材库"></div>
</div>