<div class='row issue-list'>
    <div class="col-md-6" ng-repeat="issue in issuelist">
        <div class="panel panel-info issue-panel" > 
            <div class="panel-heading">
                {{issue.title}}
                <span class="label label-info pull-right">
                    <i class="glyphicon glyphicon-user"></i>
                    {{issue.owner}}
                </span>
            </div>
            <div class="panel-body">
                <p class="content">
                <small ng-bind-html="issue.content | contentFormat">
                </small>
                </p>
                <p>
                    <span ng-if="issue.type == 1" class="label label-danger">Bug</span>
                    <span ng-if="issue.type == 2" class="label label-info">修改</span>
                    <span ng-if="issue.type == 3" class="label label-success">新需求</span>
                    <span ng-if="issue.type == 4" class="label label-warning">返工</span>
                </p>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    讨论 
                    <span class="badge"></span>
                    <span class="pull-right" ng-click="openComment($event)">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="panel-body bgff pos-abs comment-box" style="display:none">
                    <div class="comment-list">
                    <blockquote ng-repeat="c in comments">
                        <p>{{c.content}}</p>
                        <small>{{c.creator}} <cite>{{c.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</cite></small>
                    </blockquote>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter to post ..." ng-keyup="postComment($event)"></input>
                </div>
            </div>

        </div>
    </div>
</div>
