<div id="issue-box">
    加载中...
    <div class="post-box">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3">标题：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="issue-name" />
                </div>
                <span class="r">*</span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">内容：</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows=5 id="issue-name" /></textarea>
                </div>
                <span class="r">*</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default">提交</button>
            </div>
        </form>
    </div>
</div>
