<div class="project-wall clearfix">
    <div class="project-sort clearfix">
        <div class="project-sort_name">
            {{sortname}}
            <hr />
        </div>
        <ul class="row">
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
            <li class="col-sm-3">
                <div class="project-card">
                    <div class="project-name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project-progress">progess</div>
                </div>
            </li>
        </ul>
        <a class="project-more" href="/#/projectsort/{{moreurl}}">More
            <span class="glyphicon glyphicon-hand-right" style="margin-left:0.3em;"></span>
        </a>
    </div>
</div>
