
<div class="row">
    <h3>{{sortname}}</h3>

    <div class="col-md-3" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">芒果TV
                    <a data-toggle="modal" class="pull-right btn btn-info btn-xs" data-target="#addRequestDialog" >
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>New Task</span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p>Date: xxx-xxx-xxxww</p>
                <p>Person: xxx-xxx-xxxww</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%;">
                        完成 60% 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



