<div class="project_wall clearfix">
    <div class="project_sort clearfix">
        <ul class="row">
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
            <li class="col-sm-3">
                <div class="project_card">
                    <div class="project_name">统计项目</div>
                    <p>Date: xxx-xxx-xxxww</p>
                    <p>Person: xxx-xxx-xxxww</p>
                    <div class="project_progress">progess</div>
                </div>
                <a href="#"></a>
            </li>
        </ul>
        <a class="project_more">More
            <span class="glyphicon glyphicon-hand-right" style="margin-left:0.3em;"></span>
        </a>
    </div>
</div>
